.card {
	width: 172px;
	height: 120px;
	xpadding: 5px; float: left;
	xmargin: 0 10px 10px 0;
	font-size: .9em;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	top: 460px;
	left: 0px;
	display: block;
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.pink {
}
.yellow {
}
.blue {
}
.green {
}

.card-image {
	position: absolute;
	xtop: -10;
	xleft: -50;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1000;
}

.content {
	overflow: hidden;
	overflow-x: hidden;
	display: block;
	width: 120px;
	height: 66px;
	 margin: 12px 22px 75px 33px;
	//margin: 15px 30px 100px 44px;
  scrollbar-width: thin;
	scrollbar-width: thin;
	font-family: "Arial Rounded MT Bold" , arial, serif;
	font-size: 10px;
	letter-spacing: 0px;
	line-height: 9px;
	xtext-shadow: 0px 0px 1px #444;
	opacity: 1;
	color: #333;
	/* text-align: center; */
	padding-top: 8px;
}


.filler {
	margin-right: 12px;
	margin-bottom: 19px;
	margin-left: 19px;
}

.xcontent {
	overflow: hidden;
	display: block;
	width: 79px;
	height: 45px;
	margin: 0px 10px 0px 19px;
	font-family: "Arial Rounded MT Bold", "Arial" , arial, serif;
	xfont-size: 10px;
	letter-spacing: 0px;
	line-height: 8px;
  xtext-shadow: 0px 0px 1px #444;
	opacity: 1;
	color: #333;
	text-align: center;
	padding-top: 8px;
}
