doctype html
html(lang="en")
	head

		title E-Board

body
	h1 Gestion de Tableaux de Post-it
image#marker(src='images/home.png')
	h3 Il faut être authentifier pour l'utiliser !

	p Essayer la <a href="/demo"> démonstration </a>
