doctype html
html(lang="en")
  head

    title E-Board

body
  h1 Gestion de Tableaux de Post-it
image#marker(src='images/home.png')


    form( method="post" action="/tab/")
      div.input
      span.label Nom de votre tableau :&nbsp
      input(type="text", name="type")
      br
      p Type : Normal
        input(type='radio',name='type', checked=true, value=1)
        &nbsp  Public
        input(type='radio',name='type',value=2 )
        &nbsp  Privé
        input(type='radio', name='type', value=3 )


      &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp
      input(type="submit", value="GO")
